# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Terraform (infra/)
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars
infra/terraform/crash.log

# Docker
docker-compose.override.yml

# claude
CLAUDE.md

# keys
*.pem
*.key*